<template>
  <main id="Accueil" class="flex flex-col items-center justify-around">
    <h2>Accueil</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id magna
      tortor. Vestibulum ut ante et urna tempor condimentum. Nullam imperdiet
      massa ut nisl tristique facilisis. Phasellus mattis lectus eget nibh
      varius, sagittis facilisis risus malesuada. Phasellus gravida elit eros,
      vel dignissim libero lacinia eu. Morbi eget turpis pellentesque, laoreet
      justo sit amet, congue nisi. Suspendisse potenti. Maecenas neque nulla,
      pharetra sit amet mi dapibus, pharetra auctor nisi.
    </p>

    <section class="flex justify-around w-full">
      <section>
        <h3>Inscription</h3>
        <form @submit.prevent="inscriptionHandler">
          <input-component
            type="email"
            name="inscription-email"
            :required="true"
          >
            E-mail :
          </input-component>
          <input-component name="inscription-pseudo" :required="true">
            Pseudo :
          </input-component>
          <input-component
            type="password"
            name="inscription-mdp"
            :required="true"
          >
            Mot de passe :
          </input-component>
          <input-component
            type="password"
            name="mdp-confirmation"
            :required="true"
          >
            Mot de passe (confirmation) :
          </input-component>

          <button-component>S'inscrire</button-component>

          <p
            v-if="hasErrorInscription"
            class="bg-red-500 text-dark p-2 m-2 rounded"
          >
            {{ errorMessage }}
          </p>
        </form>
        <p class="my-5">
          Déjà un compte ?
          <a @click="focus('connexion-email')">Connectez-vous</a>
        </p>
      </section>

      <section>
        <h3>Connexion</h3>
        <form @submit.prevent="connexionHandler">
          <input-component type="email" name="connexion-email" :required="true">
            E-mail :
          </input-component>
          <input-component
            type="password"
            name="connexion-mdp"
            :required="true"
          >
            Mot de passe :
          </input-component>

          <button-component>Se connecter</button-component>

          <p
            v-if="hasErrorConnexion"
            class="bg-red-500 text-dark p-2 m-2 rounded"
          >
            {{ errorMessage }}
          </p>
        </form>
        <p class="my-5">
          Pas encore de compte ?
          <a @click="focus('inscription-email')">Inscrivez-vous</a>
        </p>
      </section>
    </section>
  </main>
</template>

<script>
import Vue from "vue";
import { auth } from "@/firebase/firebase";

import InputComponent from "@/components/InputComponent.vue";
import ButtonComponent from "@/components/ButtonComponent.vue";

export default Vue.extend({
  name: "Home",

  components: {
    ButtonComponent,
    InputComponent
  },

  data() {
    return {
      hasErrorInscription: false,
      hasErrorConnexion: false,
      errorMessage: "",
      user: null
    };
  },

  methods: {
    inscriptionHandler() {
      const email = document.getElementById("inscription-email");
      const pseudo = document.getElementById("inscription-pseudo");
      const mdp = document.getElementById("inscription-mdp");
      const mdpConfirmation = document.getElementById("mdp-confirmation");

      // VALIDATION
      this.hasErrorInscription = false;

      if (mdp.value !== mdpConfirmation.value) {
        mdp.classList.add("border-red-500");
        mdpConfirmation.classList.add("border-red-500");
        this.hasErrorInscription = true;
        this.errorMessage =
          "Le mot de passe et sa confirmation sont différents";
      }

      if (!this.hasErrorInscription) {
        mdp.classList.remove("border-red-500");
        mdpConfirmation.classList.remove("border-red-500");

        auth
          .createUserWithEmailAndPassword(email.value, mdp.value)
          .then(userCredential => {
            userCredential.user.updateProfile({
              displayName: pseudo.value
            });
          })
          .catch(error => {
            this.hasError = true;
            this.errorCode = error.code;
            this.errorMessage = error.message;
            // ..
          });
      }
    },

    connexionHandler() {
      const email = document.getElementById("connexion-email");
      const mdp = document.getElementById("connexion-mdp");

      this.hasErrorConnexion = false;

      auth
        .signInWithEmailAndPassword(email.value, mdp.value)
        .then(this.rememberUser)
        .catch(error => {
          this.hasErrorConnexion = true;
          this.errorCode = error.code;
          this.errorMessage = error.message;
          // ..
        });
    },
    focus(id) {
      document.getElementById(id).focus();
    }
  }
});
</script>

<style></style>
