<template>
  <div id="Projects" class="mx-32">
    <h2 class="text-4xl">PROJETS</h2>

    <div class="newProject mt-5 mb-20">
      <form action="" method="" v-on:submit.prevent="newProject">
        <fieldset class="flex justify-evenly items-center border-2 py-4">
          <legend class="justify-self-start">Nouveau projet</legend>
          <InputComponent
            name="titreDuProjet"
            v-bind:required="true"
            v-bind:inline="true"
            v-model="newProjectName"
            placeholder="Nom"
            aria-label="Champ : nom du nouveau projet"
          />

          <InputComponent
            name="descriptionDuProjet"
            v-bind:required="true"
            v-bind:inline="true"
            v-model="newProjectDescription"
            placeholder="Description"
            aria-label="Champ : description du nouveau projet"
          />

          <!-- v-model="newProjectName" -->

          <ButtonComponent theme="secondary">Créer projet</ButtonComponent>
        </fieldset>
      </form>
      <!-- .newProject -->
    </div>

    <div class="projectsList">
      <Project
        v-for="(item, index) in projectsTable"
        v-bind:key="index"
        v-bind="item"
        class="m-10"
      />
    </div>
  </div>
  <!-- .projectsList -->
</template>

<script>
import { db } from "@/firebase/firebase";

import Project from "@/components/Project.vue";
import InputComponent from "@/components/InputComponent.vue";
import ButtonComponent from "@/components/ButtonComponent.vue";

export default {
  name: "Projects",
  components: {
    Project,
    InputComponent,
    ButtonComponent
  },

  data() {
    return {
      newProjectName: "",
      newProjectDescription: "",
      projectsTable: []
    };
  },

  created() {
    db.collection("projects")
      .get()
      .then(projectList => {
        projectList.forEach(projectItem => {
          this.projectsTable.push(projectItem.data());
        });
      });
  },

  methods: {
    newProject() {
      // Add a new project with a generated id.
      let newProjectRef = db.collection("projects").doc();

      let newProject = {
        name: this.newProjectName,
        description: this.newProjectDescription,
        id: newProjectRef.id
      };
      this.newProjectName = "";
      this.newProjectDescription = "";

      // Front, ajout au tableau local pour affichage
      this.projectsTable.push(newProject);

      // Back, envoi DB
      newProjectRef.set(newProject);
    }
  }
};
</script>

<style lang="scss" scoped></style>
