<template>
  <section class="project">
    <div
      class="projectHeader flex justify-between items-center bg-gray-200 pl-16 pr-5"
      v-on:click.stop="toggleProjectBody"
    >
      <h3 class="pointer-events-none">{{ name }}</h3>
      <p class="pointer-events-none">
        <span
          v-for="member in teamUnique"
          :key="'team-' + member"
          class="rounded-full bg-dark text-white w-6 h-6 py-1 px-2 mr-1"
        >
          {{ member | initial }}</span
        >
      </p>
    </div>
    <!-- .projectHeader -->

    <div class="projectBody mx-10 hidden">
      <div class="flex justify-between items-center">
        <p class="description text-left my-8 mr-16">
          {{ description }}
        </p>
        <!-- <img src="{{ image }}" alt="Image du project" /> -->
        <ButtonComponent
          class="min-w-max"
          theme="secondary"
          v-on:click.native="toggleNewTicketModal"
        >
          Nouveau ticket
        </ButtonComponent>
      </div>

      <Ticket
        class="my-6 min-w-100"
        v-for="(ticket, index) in tickets"
        v-bind:key="index"
        v-bind:id="ticket"
        @addToTeam="addToTeamHandler"
        @removeFromTeam="removeFromTeamHandler"
      />
    </div>
    <!-- .projectBody (hidden by default) -->
    <!-- modal création -->
    <ModalComponent v-if="modalOpen" @closeModal="toggleNewTicketModal">
      <template v-slot:header>
        <span class="font-normal">Nouveau ticket pour :</span>
        {{ newTicket.project }}
      </template>
      <template v-slot:content>
        <form
          id="ticket-new"
          class="h-3/4 w-full px-3 flex flex-col flex-wrap justify-around items-center"
          @submit.prevent="submitHandler"
        >
          <input-component
            :name="'new-name'"
            :placeholder="newTicket.name"
            :required="true"
            :inline="true"
          >
            <span :title="'id: ' + newTicket.id">Titre</span> :
          </input-component>
          <input-component
            :name="'new-createdBy'"
            :disabled="true"
            :value="newTicket.createdBy"
            :inline="true"
          >
            Source du ticket :
          </input-component>

          <input-component
            :name="'new-desc'"
            type="textarea"
            :placeholder="newTicket.desc"
            :inline="true"
            :required="true"
          >
            Description :
          </input-component>

          <input-component
            :name="'new-status'"
            type="select"
            :value="newTicket.status | fromCamelCase"
            :options="statusList"
            :inline="true"
            :disabled="true"
          >
            Statut :
          </input-component>
          <input-component
            :name="'new-category'"
            type="select"
            :value="newTicket.category | fromCamelCase"
            :options="categoryList"
            :inline="true"
          >
            Catégorie :
          </input-component>
          <div class="flex">
            Dates :
            <input-component
              :name="'new-startDate'"
              class="ml-1"
              type="date"
              :required="true"
              :value="newTicket.startDate.format('YYYY-MM-DD')"
              :inline="true"
            >
              du
            </input-component>
            <input-component
              :name="'new-dueDate'"
              class="ml-1"
              type="date"
              :required="true"
              :value="newTicket.dueDate.format('YYYY-MM-DD')"
              :inline="true"
            >
              au
            </input-component>
          </div>
        </form>
      </template>
      <template v-slot:footer>
        <button-component formId="ticket-new">
          Valider
        </button-component>
      </template>
    </ModalComponent>
  </section>
</template>

<script>
import dayjs from "dayjs";
import { auth, db } from "@/firebase/firebase";

import { statusList, categoryList } from "@/utils/definitions";
import { toCamelCase } from "@/utils/string";

import Ticket from "@/components/Ticket.vue";
import ModalComponent from "@/components/ModalComponent.vue";
import ButtonComponent from "@/components/ButtonComponent.vue";
import InputComponent from "@/components/InputComponent.vue";

export default {
  name: "Project",
  components: {
    InputComponent,
    ButtonComponent,
    ModalComponent,
    Ticket
  },

  data: function() {
    return {
      modalOpen: false,
      dbTicketRef: null,
      projectRef: db.collection("projects").doc(this.id),
      newTicket: {
        id: "new",
        name: "Titre du ticket",
        desc: "Décrire le problème",
        status: "enAttente",
        startDate: null,
        dueDate: null,
        category: "technique",
        docs: [],
        createdBy: null,
        assignedTo: [],
        project: null
      }
    };
  },

  props: {
    id: {
      type: String,
      default: ""
    },
    name: {
      type: String,
      default: null
    },
    description: {
      type: String,
      default: null
    },
    team: {
      type: Array,
      default: () => []
    },
    tickets: {
      type: Array,
      default: () => []
    }
    // ticketsTable: [
    //   "4ZPSBr7ohX4jbOZ7DbEy",
    //   "VIY8C5GpazOJpvc4ORBA",
    //   "tPPq3dQnDLKWKfUafSzN"
    // ]
  },

  computed: {
    currentUser: () => auth.currentUser,
    statusList: () => statusList,
    categoryList: () => categoryList,
    teamUnique() {
      return new Set(this.team);
    }
  },

  methods: {
    toggleProjectBody(e) {
      let projectBody = e.target.nextSibling;
      // console.log(e, e.target, projectBody);
      projectBody.classList.toggle("hidden");
    },
    // 1. récupérer les données des projects
    // 1bis récup les données nécessaires des tickets
    toggleNewTicketModal() {
      console.log("newTicket");
      this.modalOpen = !this.modalOpen;

      // préparation à la création d'un ticket
      if (this.modalOpen) {
        this.dbTicketRef = db.collection("tickets").doc();
        this.newTicket.id = this.dbTicketRef.id;
        this.newTicket.createdBy = this.currentUser.displayName;
        this.newTicket.project = this.name;
        this.newTicket.startDate = new dayjs();
        this.newTicket.dueDate = new dayjs();
      }
    },

    submitHandler() {
      // -- VALIDATION DES DATES --
      const startDateInput = document.getElementById("new-startDate");
      const dueDateInput = document.getElementById("new-dueDate");
      const startDate = dayjs(startDateInput.value, "YYYY-MM-DD");
      const dueDate = dayjs(dueDateInput.value, "YYYY-MM-DD");

      // reset
      startDateInput.classList.remove("border-red-500", "border-2");
      dueDateInput.classList.remove("border-red-500", "border-2");
      startDateInput.classList.add("border");
      dueDateInput.classList.add("border");
      if (startDate.isAfter(dueDate)) {
        startDateInput.classList.add("border-red-500", "border-2");
        dueDateInput.classList.add("border-red-500", "border-2");
        startDateInput.classList.remove("border");
        dueDateInput.classList.remove("border");
        return; // stop tout
      }

      // -- FERMETURE DU MODAL --
      this.toggleNewTicketModal();
      // -- ATTRIBUTS TICKET --
      //this.newTicket.id est défini par firebase
      this.newTicket.name = document.getElementById("new-name").value;
      this.newTicket.desc = document.getElementById("new-desc").value;
      // this.newTicket.status pré-défini (en attente)
      this.newTicket.startDate = startDate.toDate();
      this.newTicket.dueDate = dueDate.toDate();
      this.newTicket.category = toCamelCase(
        document.getElementById("new-category").value
      );
      // -- FOREIGN KEYS --
      // this.newTicket.createdBy pré-défini (currentUser)
      // this.newTicket.project pré-défini (ce projet)

      // -- ENVOI A LA BDD --
      /* TODO sauvegarde de l'id du ticket dans le projet*/
      this.tickets.push(this.newTicket.id);
      this.projectRef.update({ tickets: this.tickets });

      console.log("création du ticket", this.newTicket);
      this.dbTicketRef.set(this.newTicket);
    },

    // teamUpdateHandler(team) {
    //   team.forEach(member => {
    //     if (!this.team.includes(member)) {
    //       this.team.push(member);
    //       this.projectRef.update({ team: this.team });
    //     }
    //   });
    // }
    addToTeamHandler(username) {
      this.team.push(username);
      this.projectRef.update({ team: this.team });
    },
    removeFromTeamHandler(username) {
      const index = this.team.indexOf(username);
      this.team.splice(index, 1);
      this.projectRef.update({ team: this.team });
    }
  }
};
</script>

<style lang="scss" scoped>
.project {
  border: solid black 3px;
  text-align: center;
}
</style>
